@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600&family=Noto+Sans:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --default: #222222;
  --primary : #ff9900;
  --secondary: #797979;
  --primary-rgb: 255, 153, 0;
  --secondary-rgb: 132, 119, 105;
  --bg-light: #ffefdd;
  --bg-gray: #f9f7f4;
}
/* reset */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", "Noto Sans JP", sans-serif;
	color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
/* render html5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}
html {
	font-size : 1em;
}

/* basics
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	clear: both;
}
h2, h3 {
	color: var(--primary);
}
h3 span {
	font-weight: normal;
	color: var(--default);
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: var(--default);
	font-weight: 600;
}


/* p, li, dt, dd
--------------------------------------------------------------*/
p,
li,
dt,
dd {
  font-size: 1em;
}

@media screen and (max-width: 767.98px) {
  p,
  li,
  dt,
  dd {
    font-size: 0.875em;
  }
}
img {
	border: none;
}

/* a
-------------------------------------------------- */
a {
  color: var(--default);
  transition: color 0.5s 0s ease;
}
a:hover,
a:focus,
a:active {
  color: var(--secondary);
}
/*a span {
	display: none;
}*/

#main-section a,
#main-section a:visited {
  text-decoration: underline;
}

#main-section a:hover {
  text-decoration: none;
}

/* col-15
-------------------------------------------------- */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
	width: 20%;
	float: left;
}
}
@media (min-width: 992px) {
.col-md-15 {
	width: 20%;
	float: left;
}
}
@media (min-width: 1200px) {
.col-lg-15 {
	width: 20%;
	float: left;
}
}

/* layout
-------------------------------------------------- */
#wrapper {
	background: #FFF;
	margin: 0 auto;
}
nav {
	margin: 0 auto;
	clear: both;
}

#main {
	width: 100%;
	margin: 24px auto 0;
	overflow: hidden;
	clear: both;
}

#content {
	width: 100%;
	margin-bottom: 24px;
}
#sidebar {
	margin-right: 20px;
width: 100%;
}
footer {
	clear: both;
	background-color: #ffb000;
}

/* nav
-------------------------------------------------- */.dropdown.open .caret,
.dropup.open .caret,
.btn-group.bootstrap-select.open .caret {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*           Animations              */
.animation-transition-general,
.carousel .carousel-indicators li {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.animation-transition-slow {
  -webkit-transition: all 370ms linear;
  -moz-transition: all 370ms linear;
  -o-transition: all 370ms linear;
  -ms-transition: all 370ms linear;
  transition: all 370ms linear;
}
.caret {
  -webkit-transition: transform 150ms ease 0s;
  -moz-transition: transform 150ms ease 0s;
  -o-transition: transform 150ms ease 0s;
  -ms-transition: transform 150ms ease 0s;
  transition: transform 150ms ease 0s;
}
.navbar {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}
.navbar .navbar-nav > li > a.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 0.025em;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar .navbar-nav > li > a.btn.btn-primary {
  box-shadow: 0 2px 2px 0 rgb(var(--primary-rgb), 0.14), 0 3px 1px -2px rgb(var(--primary-rgb), 0.2), 0 1px 5px 0 rgb(var(--primary-rgb), 0.12);
}
.navbar .navbar-nav > li > a.btn.btn-primary,
.navbar .navbar-nav > li > a.btn.btn-primary:hover,
.navbar .navbar-nav > li > a.btn.btn-primary:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:active,
.navbar .navbar-nav > li > a.btn.btn-primary.active,
.navbar .navbar-nav > li > a.btn.btn-primary:active:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:active:hover,
.navbar .navbar-nav > li > a.btn.btn-primary.active:focus,
.navbar .navbar-nav > li > a.btn.btn-primary.active:hover {
  background-color: var(--primary);
  color: #FFFFFF;
}
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover,
.navbar .navbar-nav > li > a.btn.btn-primary:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:active,
.navbar .navbar-nav > li > a.btn.btn-primary:hover {
  box-shadow: 0 4px 12px -6px rgb(var(--primary-rgb), 0.42), 0 4px 12px 0px rgb(0, 0, 0, 0.12), 0 4px 6px -2px rgb(var(--primary-rgb), 0.2);
}
.btn:focus,
.btn:active,
.btn:active:focus,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn:active:focus {
  outline: 0;
}
.btn.btn-round,
.navbar .navbar-nav > li > a.btn.btn-round {
  border-radius: 30px;
}

.btn .caret {
  margin-left: 3px;
}
.navbar .navbar-nav > li > a > small {
  display: block;
}
.navbar .navbar-nav > li > a.btn {
  margin-top: 2px;
  margin-bottom: 2px;
}
.navbar {
  border: 0;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 10px 0;
}
.navbar .navbar-brand {
  position: relative;
  /* line-height: 30px;
    color: inherit; */
  margin-top: -16px;
  padding: 0 15px;
}
.navbar .navbar-brand img {
  width: auto;
  height: 84px;
}
@media (max-width:991.98px) {
  .navbar {
    padding: 18px 0;
  }
  .navbar .navbar-brand {
    margin-top: -4px;
  }
  .navbar .navbar-brand img {
    height: 64px;
  }
}
@media (max-width:767.98px) {
  .navbar {
    padding: 12px 0;
  }
  .navbar .navbar-brand {
    margin-top: 0;
  }
  .navbar .navbar-brand img {
    height: 56px;
  }
}
.navbar .navbar-nav > li > a {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.01em;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
}
.navbar .navbar-nav > li > a:hover {
  color: var(--primary);
  background-color: transparent;
}
.navbar .navbar-nav > li > a:focus {
  color: var(--default);
  background-color: transparent;
}
.navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -20px;
}
.navbar .navbar-nav > li.open > .dropdown-menu {
  margin-top: 0;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: var(--primary);
  background-color: rgb(255, 255, 255, 0.1);
}
.navbar .navbar-nav .caret {
  margin-top: -3px;
}
.navbar .navbar-toggle {
  border: 0;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .navbar-toggle .icon-bar {
  border: 1px solid;
  color: var(--default);
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-top: none;
  box-shadow: none;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: var(--primary);
}
.navbar .btn {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar {
  background-color: #FFFFFF;
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 6px 8px -4px rgb(0, 0, 0, 0.1);
}
.navbar .dropdown-menu {
  border-radius: 8px !important;
}
.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:focus {
  color: #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.14), 0 7px 10px -5px rgb(255, 255, 255, 0.4);
}
.navbar .dropdown-menu .active > a,
.navbar.navbar-default .dropdown-menu .active > a {
  background-color: #FFFFFF;
  color: #555555;
}
.navbar .dropdown-menu .active > a:hover,
.navbar .dropdown-menu .active > a:focus,
.navbar.navbar-default .dropdown-menu .active > a:hover,
.navbar.navbar-default .dropdown-menu .active > a:focus {
  color: #555555;
}
.navbar.navbar-primary {
  background-color: #ffffff;
}
.navbar.navbar-primary .dropdown-menu li > a:hover,
.navbar.navbar-primary .dropdown-menu li > a:focus {
  color: #FFFFFF;
  background-color: var(--primary);
  box-shadow: 0 4px 16px 0px rgb(0, 0, 0, 0.14), 0 4px 8px -3px rgb(var(--primary-rgb), 0.4);
}
.navbar.navbar-primary .dropdown-menu .active > a {
  background-color: var(--primary);
  color: #ffffff;
}
.navbar.navbar-primary .dropdown-menu .active > a:hover,
.navbar.navbar-primary .dropdown-menu .active > a:focus {
  color: #ffffff;
}
.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.26);
}
.dropdown-menu li > a {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.14), 0 7px 10px -5px rgb(var(--primary-rgb), 0.4);
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
  background-color: var(--primary);
  color: #FFFFFF;
}
.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:focus {
  color: #FFFFFF;
  background-color: var(--primary);
  box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.14), 0 7px 10px -5px rgb(var(--primary-rgb), 0.4);
}
.dropdown .dropdown-menu {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  visibility: hidden;
  display: block;
  opacity: 0;
}
.dropdown.open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  -ms-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
}
@media (min-width: 992px) {
  .navbar .navbar-collapse {
    text-align: center;
  }
}
@media all and (max-width: 991.98px) {
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 300px;
    content: "";
    z-index: 1029;
    overflow-x: hidden;
  }
  .navbar-header {
    float: none;
  }
  .navbar-header .navbar-toggle {
    display: block;
    float: right;
  }
  .navbar-collapse {
    position: fixed;
    display: block;
    top: 0px;
    height: 100vh;
    width: 270px;
    right: 0;
    margin-right: 0 !important;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    -webkit-transform: translate3d(270px, 0, 0);
    -moz-transform: translate3d(270px, 0, 0);
    -o-transform: translate3d(270px, 0, 0);
    -ms-transform: translate3d(270px, 0, 0);
    transform: translate3d(270px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .navbar-collapse.collapse {
    height: 100vh !important;
  }
  .navbar-collapse ul {
    position: relative;
    z-index: 3;
    overflow-y: auto;
    height: 100%;
    float: none !important;
    margin: 0;
  }
  .navbar-collapse .nav > li:after {
    width: calc(100% - 30px);
    content: "";
    display: block;
    height: 1px;
    margin-left: 15px;
    background-color: #e5e5e5;
  }
  .navbar-collapse .nav > li:last-child:after {
    display: none;
  }
  .navbar-collapse::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    display: block;
    content: "";
    z-index: 1;
  }
  .navbar .navbar-collapse .caret {
    position: absolute;
    right: 16px;
    margin-top: 8px;
  }
  .navbar .navbar-collapse .nav > li {
    padding: 0;
    float: none;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-top: 0;
  }
  .navbar .navbar-collapse .navbar-nav > li > a {
    color: var(--default);
    margin: 5px 15px;
  }
  .navbar .navbar-collapse .navbar-nav > li > a:hover,
  .navbar .navbar-collapse .navbar-nav > li > a:focus {
    color: var(--default);
  }
  .navbar .navbar-collapse .navbar-nav > li.button-container > a {
    font-size: 1.125em;
    margin: 15px;
  }
  .navbar .navbar-collapse .navbar-nav > li.open > .dropdown-menu {
    padding-bottom: 10px;
    margin-bottom: 5px;
    box-shadow: none;
  }
  .navbar .navbar-collapse .open .dropdown-menu > li > a {
    color: var(--default);
    margin: 0;
    padding-left: 16px;
  }
  .navbar .navbar-collapse .open .dropdown-menu > li > a:hover,
  .navbar .navbar-collapse .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar .navbar-collapse .open .dropdown-menu > li > a > span {
    display: none;
  }
  .navbar .navbar-collapse .dropdown-menu li {
    margin: 0 15px;
  }
  .navbar .navbar-collapse .dropdown.open .dropdown-menu {
    display: block;
  }
  .navbar .navbar-collapse .dropdown .dropdown-menu {
    display: none;
  }
  nav .container, nav .navbar-header {
    -webkit-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .nav-open nav .navbar-header {
    left: 0;
    -webkit-transform: translate3d(-245px, 0, 0);
    -moz-transform: translate3d(-245px, 0, 0);
    -o-transform: translate3d(-245px, 0, 0);
    -ms-transform: translate3d(-245px, 0, 0);
    transform: translate3d(-245px, 0, 0);
  }
  .nav-open .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

/* HEADER
-------------------------------------------------- */
header h1 {
	margin:0;
	padding:0;
	font-size:32px;
	font-weight:700;
	display: inline-block;
}
header h1 small, header .h1 small {
	font-weight:700;
	color:#222;
}
p.top-description {
  font-size: 0.775em;
  margin: 0.5em 0;
  line-height: 1.2;
}
@media (max-width:991.98px) {
  .top-bar {
    display: none;
  }
}

/* telephone
-------------------------------------------------- */
.telephone {
  font-size: 1.575em;
  font-weight: bold;
  line-height: 1.25;
  padding: 0 0 0 50px;
  background: url(../images/icon_telephone.gif) no-repeat 0 center;
}
.telephone span {
  font-size: 0.425em;
  font-weight: normal;
  display: block;
}
.top-bar .telephone {
  float: right;
  margin: 0.375em 0.25em 0 0;
}
.navbar .navbar-collapse .navbar-nav > li > a.telephone {
  margin-left: 24px;
}
.nav > li > a.telephone {
  padding: 10px 0 10px 50px;
}
.navbar .navbar-nav > li > a.telephone {
  font-size: 1.75em;
  font-weight: bold;
}

/* ARTICLES
-------------------------------------------------- */
#content p, ul, ol, dl, hr {
	margin-bottom: 1.5em;
}
#content ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
#content h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
	line-height: 1.2em;
}
#content h1 {
	font-size: 22px;
}
#content h2 {
  font-size: 20px;
	color: var(--primary);
}
#content h3 {
  font-size: 18px;
	padding-bottom:0.25em;
	border-bottom: 2px dotted #cbcbcb;
	color: #ff8a00;
}
#content h4 {
  font-size: 16px;
}
h5, h6 {
  font-size: 14px;
}
@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 14px;
  }
}
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 12px;
}
.post .post-body {
	padding: 0px 10px;
}
article.post {
	padding: 10px 10px 10px 10px;
	border: solid 1px #ffb000;
	border-radius: 3px;
	margin-bottom: 30px;
}
#content p.post-date {
	margin: 25px 10px 0 0;
	text-align: right;
}
#content article h1 a {
	display: block;
}
#content article p {
	margin-bottom: 15px;
}
.pagination-area {
	margin-bottom: 15px;
}

/* footer widget blocks
-------------------------------------------------- */
#footer-area {
	color:#fff;
	font-size: 0.9em;
	margin: 0 auto;
	padding: 18px 0;
	overflow: hidden;
}
#footer-area a:link,
#footer-area small {
	color:#fff;
}
#footer-area .footer_logo {
	float: left;
}
footer aside h4 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 3px 0;
}
footer a:link, footer a:visited {
}
footer a:hover {
	text-decoration: underline;
}
#footer-outer-block {
	position: relative;
}
@media only screen and (min-width: 768px) {
#footer-area .copyright {
	text-align: right;
}
}

/* program_list
-------------------------------------------------- */
#program_list {
	margin: 15px 10px;
	overflow: hidden;
	clear: both;
}
#program_list .panel {
	margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#program_list .panel-heading {
  padding: 0 0.5em;
}
#program_list h3 {
	font-size: 21px;
  line-height: 1.2;
  padding-top: 8px;
}
#program_list h2 small,
#program_list h3 small {
	font-weight: bold;
}
#program_list img {
	border-radius: 1em;
}
#program_list a {
	text-decoration: none;
  transition: all 0.3s;
}
#program_list a:hover {
	opacity:0.75;
}

/* content
-------------------------------------------------- */
#breadcrumb {
	height:24px;
	margin-bottom:0;
	padding: 0 0 10px 0;
	display:block;
	list-style:none;
}
#breadcrumb > li {
	font-size:0.875em;
	background-image:url(../images/arrow_list.gif);
	background-position:1px 6px;
	background-repeat:no-repeat;
	padding-left:18px;
	float:left
}
#breadcrumb > li.home {
	background-image:url(../images/icon_home.gif);
	background-position:0 5px;
}
#content h1 {
	background-image:url(../images/bg_h1.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	width:100%;
	margin-top:0.3em;
	padding:0.5em 0 0.4em 75px;
	border-bottom:1px solid #999;
	display:block;
}
#content h1 span {
	font-size:0.8em;
	text-align:left;
	padding-left:0.5em;
}
#content h2 {
	background-image:url(../images/bg_h2.gif);
	background-position: 0 0.25em;
	background-repeat:no-repeat;
	width:100%;
	padding:0.3em 0 0.2em 45px;
	border-bottom:1px dotted #999;
	display:block;
	clear:both;
}
#content p {
	line-height:1.8em;
	padding-left:5px;
}
#content p.comment {
	font-size:0.9em;
	text-indent:-1em;
	margin-left:2em;
}
article ul {
	padding-left:30px;
}
article ol {
	list-style:decimal;
	padding-left:30px;
}
article ol li {
	padding: 0.5em 0;
	position:relative;
}
dl {
	padding:0 0.5em;
}
dt {
	font-weight:bold;
}
dd {
	line-height:1.8em;
	margin-bottom:1em;
}
dl.newsbox dt {
	width: 10em;
	padding: 13px 10px 18px 10px;
	background:url(../images/arrow_news.gif) no-repeat right 16px;
	clear: both;
	float: left;
}
dl.newsbox dd {
	padding: 13px 0 18px 12em;
	border-bottom: 1px dotted #cccccc;
}
dl.faq dt, dl.info dt {
	color: #ff8a00;
}
dl.faq dd {
	line-height: 1.6em;
	padding: 13px 0 18px 3em;
	border-bottom: 1px dotted #cccccc;
}
dl.info dd {
	line-height: 1.6em;
	padding: 13px 0 18px 0.5em;
	border-bottom: 1px dotted #cccccc;
}
dl.application {
	border:2px solid #ff8a00;
	background-color:#f9e8c3;
	width: 500px;
	margin: 20px auto;
	padding:1em;
	display:block;
	border-radius: 6px; /* CSS3草案 */
	-webkit-border-radius: 6px; /* Safari,Google Chrome用 */
	-moz-border-radius: 6px; /* Firefox用 */
}
dl.message {
	border:2px solid #ff8a00;
	background-color:#f9e8c3;
	width: auto;
	margin: 20px auto;
	padding:1em;
	display:block;
	border-radius: 6px; /* CSS3草案 */
	-webkit-border-radius: 6px; /* Safari,Google Chrome用 */
	-moz-border-radius: 6px; /* Firefox用 */
}
dl.application dt, dl.message dt {
	color: #ff8a00;
}
dl.application dd, dl.message dd {
	margin-bottom:0;
	padding: 13px 0 18px 1em;
}
dl.voice dt {
	background-image: url(../images/info/iconVoice.gif);
	background-repeat: no-repeat;
	padding: 3px 0 0 35px;
	background-position: left center;
}
dl.voice dd {
	padding-bottom:0.5em;
	border-bottom: 1px dotted #cccccc;
}
table.contents {
	margin-bottom:20px;
	border-collapse:collapse;
	border-top: 1px solid #CCC;
}
table.contents th, table.contents td {
	padding:1em;
	border-bottom: 1px solid #CCC;
	vertical-align:top;
}
table.contents th {
	color:#FFF;
	background: #ff9900;
}
table.staff {
	width:100%;
	margin-bottom:30px;
	border-collapse:collapse;
}
table.staff td {
	padding:0.5em;
	border-bottom: 1px solid #CCC;
}
table.data {
	background-color: #ffffff;
	border: 1px solid #999999;
}
table.data th, table.data td {
	padding:0.5em;
	border: 1px solid #999999;
}
table.data th {
	color:#FFF;
	background: #ff9900;
}
table.data td.center {
	text-align: center;
}

ul.vertical {
	padding:0 0 10px 10px;
	clear:both;
	overflow:hidden;
	list-style:none;
}
ul.vertical li {
	line-height:1.8em;
	margin-right:20px;
	padding-left:18px;
	background:url(../images/arrow_right.gif) no-repeat 0 5px;
}
ul.horizontal {
	padding:10px 5px;
	clear:both;
	overflow:hidden;
	list-style:none;
}
ul.horizontal li {
	line-height:1.8em;
	margin-right:20px;
	padding-left:16px;
	float:left;
	display:block;
	background:url(../images/arrow_right.gif) no-repeat 0 5px;
}
ol.number {
	padding:0;
	clear:both;
	overflow:hidden;
	list-style:none;
}
ol.number li {
	line-height:1.8em;
	margin-right:5px;
	padding-left:20px;
	background-repeat: no-repeat;
	background-position: 0 3px;
}
ol.number li.number01 {
	background-image: url(../images/list_number01.gif);
}
ol.number li.number02 {
	background-image: url(../images/list_number02.gif);
}
ol.number li.number03 {
	background-image: url(../images/list_number03.gif);
}
ol.number li.number04 {
	background-image: url(../images/list_number04.gif);
}
ol.number li.number05 {
	background-image: url(../images/list_number05.gif);
}
ol.number li.number06 {
	background-image: url(../images/list_number06.gif);
}
ol.number li.number07 {
	background-image: url(../images/list_number07.gif);
}
ol.number li.number08 {
	background-image: url(../images/list_number08.gif);
}
ol.number li.number09 {
	background-image: url(../images/list_number09.gif);
}
article ol.number li {
	background-position:0 0.7em;
}
strong.catch {
	color: #ff8a00;
	font-size:1.25em;
  @media screen and (max-width: 767.98px) {
    font-size: 1.125em
  }
}

/* sideber
-------------------------------------------------- */
#sidebar h1, .sidebar h1 {
	width:100%;
	padding:9px 9px 0 9px;
	border-top: 1px solid #ffb800;
	border-right: 1px solid #ffb800;
	border-left: 1px solid #ffb800;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	color:#FFF;
	font-size:1.2em;
	font-weight:bold;
	margin: 0;
}
#sidebar h1 span, .sidebar h1 span {
	color:#FFF;
	font-size:1em;
	font-weight:bold;
	widht:180px;
	padding:20px 15px;
	background-color:#ffb000;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	display:block;
}
#sidebar ul, .sidebar ul {
	width:100%;
	padding:0 9px 9px 9px;
	border-right: 1px solid #ffb800;
	border-left: 1px solid #ffb800;
	border-bottom: 1px solid #ffb800;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	list-style:none;
}
#sidebar ul li, .sidebar ul li {
	border-bottom:1px dotted #999;
}
#sidebar ul li a, .sidebar ul li a {
	widht:190px;
	padding:15px 10px;
	background-color:#f7f7f7;
	display:block;
	text-decoration:none;
}
#sidebar ul li a.active, #sidebar ul li a:hover, .sidebar ul li a.active, .sidebar ul li a:hover {
	background-color:#f9e8c3;
	display:block;
	text-decoration:none;
}
#sidebar ul li ul, .sidebar ul li ul {
	background-color:#f9e8c3;
	width:210px;
	margin:0;
	padding:0;
	border:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#sidebar ul li ul li, .sidebar ul li ul li {
	border-bottom:none;
}
#sidebar ul li ul li a, .sidebar ul li ul li a {
	widht:190px;
	padding:10px 10px 10px 35px;
	background:#f9e8c3 url(../images/arrow_right.gif) no-repeat 15px 15px;
	display:block;
}
#sidebar li.sideTel, .sidebar li.sideTel {
	color: #ff8a00;
	font-weight: bold;
	font-size: 18px;
	line-height:1.2em;
	background-image: url(../images/icon_telephone.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding: 10px 0 10px 50px;
}
#sidebar li.sideTel-two, .sidebar li.sideTel-two {
	color: #ff8a00;
	font-weight: bold;
	font-size: 13px;
	line-height:1.8em;
	background-image: url(../images/icon_telephone.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding: 10px 0 10px 50px;
}
#sidebar li.sideTel span, .sidebar li.sideTel span {
	color: #333333;
	font-weight: normal;
	font-size: 11px;
	_font-size: 60%;
}
#sidebar li.sideContact a, .sidebar li.sideContact a {
	color: #222222;
	font-weight: bold;
	font-size: 1.2em;
	background-color:#ffffff;
	background-image: url(../images/icon_mail.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding: 20px 0 18px 50px;
}
#sidebar li.sideContact a:hover, .sidebar li.sideContact a:hover {
	color: #666666;
}

/* ============================= form ============================= */
form table {
	vertical-align: top;
	border: 1px #CCCCCC solid;
	border-collapse: collapse;
	margin: 20px 0;
}
form th, form td {
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	border: 1px #CCCCCC solid;
	padding: 10px;
}
form th {
	white-space: nowrap;
	background-color: #ffddab;
}
form tr.hasErrors th, form tr.hasErrors td {
	background-color: #FEEAEA;
}
form tr.form_button td {
	background-color: #5bb40d;
}
div.formErrors ul {
	margin-top: 12px;
}
div.formErrors ul li {
	color: red;
}

/* ============================= contact form ============================= */
form.contactForm input[type="text"] {
	color:#000;
	font:14px Arial, Helvetica, sans-serif;
	background-color:#FFF;
	margin:0;
	padding:5px;
	border:1px solid #CCC;
}
form.contactForm select {
	color:#000;
	font:14px Arial, Helvetica, sans-serif;
	background-color:#FFF;
	margin:0;
	padding:1px;
	border:1px solid #CCC;
}
form.contactForm textarea {
	color:#000;
	font:14px Arial, Helvetica, sans-serif;
	height:160px;
	background-color:#FFF;
	margin:0;
	padding:5px;
	border:1px solid #CCC;
	overflow:auto;
}
form.contactForm .bg {
	background:#fff;
	position:relative;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	float:left;
}
form.contactForm table {
	width:100%;
}
form.contactForm table th {
	white-space: normal;
	width: 28%;
}
form.contactForm table td select.chosen {
	width: 80%;
}
form.contactForm table td label.required {
	background: transparent;
	padding: 0;
	display: inline;
}
input[type=button], input[type=reset], input[type=submit] {
	padding: 5px;
	background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
	-moz-box-shadow: 1px 1px 2px #E7E7E7;
	-webkit-box-shadow: 1px 1px 2px #E7E7E7;
	border:1px solid #999;
	cursor:pointer;
}
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
	padding: 5px;
	background: -moz-linear-gradient(top, #fff, #e1e1e1 1%, #e1e1e1 50%, #cfcfcf 99%, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #e1e1e1), color-stop(0.5, #e1e1e1), color-stop(0.99, #cfcfcf), to(#ccc));
	border:1px solid #999;
}

/* お問合せフォーム
---------------------------------------------------- */
fieldset {
	margin: 10px 0;
	padding: 5px;
	border-width: 1px;
	border-color: #999999;
	border-style: dotted none none none;
}
legend {
	font-weight: bold;
	background-color: #FFFFFF;
	margin: 0 0 0 -10px;
	padding: 5px;
}
label {
	font-weight:normal;
	line-height:1em;
}
.label {
	font-weight:normal;
	clear: left;
	display: block;
	padding-top: 0.7em;
	float: left;
	width: 100px;
	height: 25px;
	line-height: 1em;
}
/*
.control {
	display: block;
	margin: 0 0 0 100px;
	padding-top: 0.7em;
	line-height: 1em;
	height: 25px;
}
*/
input, select, textarea {
	vertical-align: middle;
	color: #696969;
}
input:focus {
	background-color: #e7e7e0;
}
textarea:focus {
	background-color: #e7e7e0;
}
input[type=checkbox], input[type=radio] {
	vertical-align:middle;
}
input#address2, input#mail, textarea#comment {
	width:95%;
}
p.thankyou {
	font-weight: bold;
	text-align: center;
	padding: 150px 0;
	display: block;
}
.errmsg {
	color: red;
	display: block;
	margin: 0 0 0 120px;
	padding-top: 0.5em;
	line-height: 1em;
}
.errmsg_global {
	background-color: red;
	color: white;
}
p.submit {
	text-align: center;
}
p.submit input {
	text-align: center;
}
fieldset h4 {
	font-size:1.1em;
	margin-top: 1.5em;
}
fieldset th {
	width: 20%;
}

/* お問合せアイテム
---------------------------------------------------- */
li span.Tel {
	color: #ff8a00;
	font-weight: bold;
	font-size: 1.3em;
	background-image: url(../images/icon_telephone.gif);
	background-repeat: no-repeat;
	background-position: left middle;
	display: block;
	height:45px;
	padding: 10px 0 10px 50px;
}
li span.Fax {
	color: #ff8a00;
	font-weight: bold;
	font-size: 18px;
	background-image: url(../images/icon_fax.gif);
	background-repeat: no-repeat;
	background-position: left middle;
	display: block;
	height:45px;
	padding: 10px 0 10px 50px;
}
a.Contact {
	color: #ff8a00;
	font-weight: bold;
	font-size: 1.3em;
	background-image: url(../images/icon_mail.gif);
	background-repeat: no-repeat;
	background-position: left middle;
	display: block;
	height:45px;
	padding: 10px 0 10px 50px;
}
a.Pdf {
	background-image: url(../images/icon_pdf.gif);
	background-repeat: no-repeat;
	background-position: right 0;
	padding: 0 15px 5px 5px;
}

/* curriculum
---------------------------------------------------- */
div.curriculum div {
	padding: 10px;
	border-radius: 6px; /* CSS3草案 */
	-webkit-border-radius: 6px; /* Safari,Google Chrome用 */
	-moz-border-radius: 6px; /* Firefox用 */
	float:left;
  min-height: 250px;
}
div.curriculum div h3, div.curriculum div li {
	color: #ffffff;
	font-size: 14px;
}
div.curriculum div ul {
	margin: 0 18px 0;
	list-style: disc;
}
@media screen and (max-width: 1199.98px) {
  div.curriculum div {
    min-width: 100%;
    min-height: 100px;
    clear:both;
  }
}
.ggmap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.ggmap iframe, .ggmapr object, .ggmap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.img-responsive-sp {
	display:block;
	max-width:35%;
	height:auto;
}
a.tel-link {
	text-decoration:none;
}

/* ============================= contact form ============================= */
.mw_wp_form fieldset {
  border-color: #999999;
  border-style: dotted none none none;
  border-width: 1px;
  margin: 10px 0;
  padding: 5px;
}
.mw_wp_form legend {
  font-weight: bold;
	background-color: #FFFFFF;
	margin: 0 0 0 -10px;
	padding: 5px;
}
.mw_wp_form label.label {
  font-weight:normal;
  clear: left;
  display: block;
  padding-top: 0.7em;
  float: left;
  width: 140px;
  height: 25px;
  line-height: 1em;
}
.mw_wp_form span.red {
  color: #FF0000;
}
.mw_wp_form span.control {
  display: block;
  line-height: 1em;
  margin: 0 0 7px 160px;
  padding-top: 0.5em;
}
.mw_wp_form input[type="text"],input[type="email"] {
  background-color:#FFF;
  border:1px solid #CCC;
  color:#000;
  font:14px Arial, Helvetica, sans-serif;
  margin:0;
  padding:5px;
}
.mw_wp_form textarea#comment {
	color:#000;
	font:14px Arial, Helvetica, sans-serif;
	height:160px;
	background-color:#FFF;
	margin:0;
	padding:5px;
	border:1px solid #CCC;
	overflow:auto;
}
.mw_wp_form input[type=checkbox],input[type=radio] {
	vertical-align: middle;
}
#know input[type=checkbox] {
  margin-bottom: 6px;
}
#planning input[type=checkbox] {
  margin-bottom: 6px;
}
#planning h4 {
  font-size: 1.1em;
	margin-bottom: 12px;
  margin-top: 12px;
}
.mw_wp_form input, select, textarea {
  color: #696969;
  vertical-align: middle;
}

.mw_wp_form input[type=button], input[type=reset], input[type=submit] {
	padding: 5px;
	background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
 	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
 	-moz-box-shadow: 1px 1px 2px #E7E7E7;
 	-webkit-box-shadow: 1px 1px 2px #E7E7E7;
	border:1px solid #999;
	cursor:pointer;
}
.mw_wp_form input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
	padding: 5px;
	background: -moz-linear-gradient(top, #fff, #e1e1e1 1%, #e1e1e1 50%, #cfcfcf 99%, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #e1e1e1), color-stop(0.5, #e1e1e1), color-stop(0.99, #cfcfcf), to(#ccc));
	border:1px solid #999;
}
.mw_wp_form p.submit {
	text-align: center;
}
.mw_wp_form span.error {
  color: #F00;
  display: block;
  font-size : 100%;
  line-height: 1em;
  margin: 0;
  padding-top: 0.5em;
}
.mw_wp_form .control span.error {
  margin: 0 0 0 -150px;
}

/* MW WP Form 関連 */
.mw_wp_form_confirm .reset-button {
  display: none;
}

/* brightkids限定 */
fieldset#khow label[for~="khow-5"] {
	clear: both;
}

 @media only screen and (min-width: 480px) {
.img-responsive-768 {
	display: block;
}
.img-responsive-480 {
	display: none;
}
}
 @media only screen and (max-width: 479px) {
.img-responsive-768 {
	display: none;
}
.img-responsive-480 {
	display: block;
}
}

/* index-banner
---------------------------------------------------- */
.index-banner {
	border-width: 2px;
	border-style: solid;
	margin-bottom: 15px;
	padding: 10px 5px;
	text-align: center;
}

/* news
-------------------------------------------------- */
.news-wrapper {
  margin-bottom: 32px;
}

dl.news {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

dl.news dt,
dl.news dd {
  padding: 1.25em 0.25em;
  border-bottom: 1px dotted #ccc;
  box-sizing: border-box;
}

dl.news dt {
  color: var(--primary);
  width: 14%;
}

dl.news dd {
  margin: 0;
  width: 86%;
}

dl.news dd p {
  font-size: inherit !important;
  line-height: inherit !important;
}

dl.news dd p:last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {
  .news-wrapper {
    margin-bottom: 24px;
  }
  dl.news dt {
    width: 100%;
    padding: 0.75em 0.25em 0;
    border-bottom: none;
  }
	
  dl.news dd {
    width: 100%;
    padding: 0.25em 0.25em 0.75em;
  }
}

/* btn
-------------------------------------------------- */
.btn {
  border-radius: 0;
  font-weight: 500;
  padding: 0.725em 1.75em;
}

a.btn,
.btn {
  text-decoration: none;
}

.btn-group-lg > .btn,
.btn-lg {
  border-width: 2px;
}

.btn-xlg {
  padding: 16px 24px;
  line-height: 1.3333333;
  border-width: 3px;
}

a.btn-normal,
.btn-normal {
  border-radius: 50px;
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
  text-align: center;
  transition: background-color 0.2s ease-out;
}

a.btn-normal:hover,
a.btn-normal:focus,
a.btn-normal:active,
.btn-normal:hover,
.btn-normal:focus,
.btn-normal:active {
  color: #fff !important;
  background-color: color-mix(in srgb, var(--primary) 80%, transparent);
  transition: background-color 0.3s ease-in;
}

a.btn-album {
  border-radius: 50px;
  color: rgb(var(--secondary-rgb), 0.75);
  background-color: transparent;
  border: 2px solid rgb(var(--secondary-rgb), 0.75);
  text-align: center;
  transition: background-color 0.2s ease-out;
}

a.btn-album:hover,
a.btn-album:focus,
a.btn-album:active {
  color: #fff !important;
  background-color: color-mix(in srgb, var(--secondary) 75%, transparent);
  transition: background-color 0.3s ease-in;
}

/* bg-white-round
-------------------------------------------------- */
.bg-white-round {
  background-color: #ffffff;
  margin-bottom: 1em;
  padding: 1.5em;
  border-radius: 1em;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

/* youtube
-------------------------------------------------- */
.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9のアスペクト比 */
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* carousel
-------------------------------------------------- */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.25em;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: rgb(var(--secondary-rgb), 0.5);
  text-decoration: none;
  color: #fff;
  width: 52px;
  padding: 16px 4px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  background: rgb(var(--secondary-rgb), 0.3);
}